html {
  height: 100%;
}

body {
  padding: 25px;
  /* background-color: #2e2e2e; */
  background: linear-gradient(180deg, rgba(56, 55, 55, 1) 0%, rgba(217, 217, 217, 1) 100%);
  font-size: 25px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



h1 {
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10%;
}
